@import "./navigation.css";

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

.checklist {
  list-style-type: none;
  padding: 0;
}

.checklist input {
  width: 15px;
  height: 15px;
}

.day-content {
  display: none;
}